<div class="config-container">
  <div><h2>Configuración</h2></div>
  <table class="table">
    <tbody>
      <tr>
        <th scope="row">Temas</th>
        <td><app-themeselector></app-themeselector></td>
      </tr>
      <tr>
        <th scope="row">Modo oscuro</th>
        <td>
          <div class="custom-switch">
            <input type="checkbox" id="toggle" class="toggle-switch" />
            <label for="toggle" class="switch-label"></label>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
