* {
  font-family: var(--texto);
}
.container-100 {
  max-width: 100%;
  overflow-x: hidden;
}

.titulo {
  font-family: var(--tituloPpal);
  font-size: 34px;
}

.navbar-full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.content-home {
  padding-top: 4rem;
  font-weight: 400;
}

.post-container {
  background: var(--light-grey);
  border-radius: 10px;
  margin: 20px;
  padding: 2%;
}

::ng-deep .grey-background .default-button-reverse {
  background-color: var(--light-grey);
}
/* Responsive móvil */
@media only screen and (max-width: 480px) {
  .content-home {
    padding-top: 7rem;
  }
}

/* Reponsive tablet */
@media only screen and (max-width: 768px) {
  .custom-col {
    flex-basis: 33%;
    max-width: 33%;
  }
}

.perfil {
  background: var(--light-grey);
  border-radius: 10px;
}
