<body>
    <div class="login-container">
      <form class="login-form">
        <h2>SkillSwap</h2>
        <p class="welcome-login">Nice to see you again</p>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="Enter username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
          />
        </div>
        <div class="custom-switch">
            <input type="checkbox" id="toggle" class="toggle-switch" />
            <label for="toggle" class="switch-label"></label>
            <span class="switch-text">Remember me</span>
          </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
        <p class="copyright">©Atos 2024</p>
      </form>
    </div>
  
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
  