<div class="botones">
  <button class="default-button" onclick="seguir()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <circle cx="12" cy="12" r="10"></circle>
      <path d="M12 8v8M8 12h8"></path>
    </svg>
    <span class="ms-2">Seguir</span>
  </button>
  <button class="default-button" onclick="editarPerfil()">Editar Perfil</button>
  <button class="default-button" onclick="favorito()">
    <svg
      id="star"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path
        d="M12 2 L15.09 8.26 L22 9.27 L17 14.14 L18.18 21.02 L12 17.77 L5.82 21.02 L7 14.14 L2 9.27 L8.91 8.26 Z"
      />
    </svg>
  </button>
  <button class="default-button" id="boton-git">
    <a href="{{ miUsuario?.urlGitHub }}" style="color: white; text-decoration: none;">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path
          d="M12 2a10 10 0 00-3.16 19.49c.5.09.68-.22.68-.48v-1.71c-2.78.6-3.37-1.34-3.37-1.34-.45-1.14-1.1-1.44-1.1-1.44-.9-.62.07-.6.07-.6 1 .07 1.53 1.02 1.53 1.02.9 1.55 2.36 1.1 2.94.84.1-.64.35-1.1.64-1.35-2.24-.25-4.58-1.12-4.58-4.98 0-1.1.39-2 1.03-2.7-.1-.25-.45-1.28.1-2.66 0 0 .85-.27 2.78 1.03a9.28 9.28 0 012.49-.34 9.28 9.28 0 012.49.34c1.93-1.3 2.78-1.03 2.78-1.03.55 1.38.2 2.41.1 2.66.64.69 1.03 1.6 1.03 2.7 0 3.87-2.34 4.72-4.58 4.97.36.31.68.92.68 1.85v2.76c0 .26.18.57.69.48A10 10 0 0012 2z"
        />
      </svg>
    </a>
  </button>
  
</div>
