.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  flex-direction: column;
}

.default-button {
  margin: 10px;
}

.default-button a{
  /*QUITA EL COLOR AZUL DEL LINK DE EL SVG DEL BOTON*/
  color: inherit;
}

#boton-git{
  background-color: #010409;
}

#boton-git:hover{
  background-color: #2d333a;
}
