.botones {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  flex-direction: column;
  padding: 10px;
}

.default-button {
  margin: 10px;
}
svg{
  margin-top: 5px;
}

.default-button a{
  color: inherit;
  display: inline-block; /* Hacer que el enlace sea un bloque en línea */
  width: 100%; /* Hacer que el enlace ocupe todo el ancho del botón */
  height: 100%; /* Hacer que el enlace ocupe todo el alto del botón */
  text-align: center; /* Centrar el texto dentro del enlace */
}

#boton-git{
  background-color: #010409;
}

#boton-git:hover{
  background-color: #2d333a;
}
