<div class="container-100">
  <div class="row">
    <div class="col">
      <app-navbar class="navbar-full-width"></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="content-home col-md-10">
      <div class="row">
        <angular-editor [(ngModel)]="htmlContent" [config]="config"></angular-editor>
      </div>
      <button class="save-button" (click)="saveContent()">Guardar artículo</button>
    </div>    
  </div>
</div>