.row {
  margin-bottom: 10px;
}

/* Estilos para los inputs */
input[type="text"] {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Boton */
.save-button {
  width: 20%;
  height: 35px;
  background-color: var(--ppal);
  margin-top: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
  border: var(--ppal);
  font-family: var(--tituloPpal);
  transition: background-color 0.3s ease;
}

* {
  font-family: var(--texto);
}
.container-100 {
  max-width: 100%;
  overflow-x: hidden;
}

.titulo {
  font-family: var(--tituloPpal);
  font-size: 34px;
}

.navbar-full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.content-home {
  padding-top: 5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 400;
  text-align: center;
}

/* Responsive móvil */
@media only screen and (max-width: 480px) {
  .content-home {
    padding-top: 7rem;
  }
  /* .custom-col {
      flex-basis: 100%;
      max-width: 100%;
    } */
}

/* Reponsive tablet */
@media only screen and (max-width: 768px) {
  .custom-col {
    flex-basis: 33%;
    max-width: 33%;
  }
}
