<div id="sidebar">
    <div class="d-flex flex-column">
      <div class="nav-item">
        <a href="#" class="nav-link">Dashboard</a>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">Shortcuts</a>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">Overview</a>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">Events</a>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">About</a>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">Services</a>
      </div>
      <div class="nav-item">
        <a href="#" class="nav-link">Contact</a>
      </div>
    </div>
  </div>
