
* {
  font-family: var(--texto);
}

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 0;
  width: 17%;
  height: 100%;
  overflow-y: auto;
  background: var(--secn);
  transition: margin-left 0.5s;
}

.container-sidebar {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 5rem;
}

.nav-item {
  display: flex;
  height: 50px;
  justify-content: start;
  align-items: center;
}

.nav-item a {
  margin-left: 20px;
}

.nav-item a:hover {
  color: var(--ppal);
}

.hamburger {
  display: none;
}


button:hover {
  color: var(--ppal_2);
}

@media (max-width: 767px) {
  #sidebar {
    margin-left: -300px;
    font-size: 12px;
  }

  #sidebar.open {
    margin-left: 0px;
    width: 35%;
  }

  .container-sidebar {
    padding-top: 7rem;
  }

  .hamburger {
    display: block;
    position: fixed;
    margin-top: 12px;
    top: 60px;
    left: 10px;
    z-index: 1100;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #000000;
    cursor: pointer;
  }

}
