.carta{
    display: flex;
    height: 70px;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5%;
    border-radius: 5px;
}

.carta:hover{
    background-color: #d8d8d8;
}

img{
    width: 17%;
    margin-right: 7%;
}

h4{
    margin: 0;
    font-size: 18px;
    font-family: var(--texto);
}