.carta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    width: 200px;
    transition: background-color 0.3s ease;
    padding: 2%;
}

.carta:hover {
    background-color: #d8d8d8;
}

img {
    width: 90%;
    margin-bottom: 10px;
}

h4 {
    margin: 0;
    font-size: 14px;
    font-family: var(--texto);
    text-align: center;
}