* {
    font-family: var(--texto);
}
.container-100 {
    max-width: 100%;
    overflow-x: hidden;
}

.titulo {
    font-family: var(--tituloPpal);
    font-size: 34px;
}

.navbar-full-width {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.content-home {
    padding-top: 4rem;
    padding-left: 2rem;
    font-weight: 400
}

.filas-home {
    margin-left: 1.25rem;
}

.pagination-controls {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    width: 100%; /* Asegúrate de que el contenedor ocupe toda el área disponible */
    margin-top: 1rem; /* Añade un margen superior para separarlos de los artículos */
}

.default-button, .default-button-reverse {
    width: auto; /* Ajusta la anchura automáticamente */
    margin: 0 0.5rem; /* Añade un margen lateral para separación */
}

.active-page {
    background-color: var(--ppal);
    color: white;
}

/* Responsive móvil */
@media only screen and (max-width: 480px) {
    .content-home {
        padding-top: 7rem;
    }
    .filas-home {
        margin-left: 0;
    }
  }

/* Reponsive tablet */
@media only screen and (max-width: 768px) {
    .custom-col {
        flex-basis: 33%;
        max-width: 33%;
      }
  }