*{
    overflow-x: hidden;
}
.navbar-full-width {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.tarjetas-usuarios {
    padding-top: 1.5rem;
    padding-left: 2rem;
}

/* Responsive móvil */
@media only screen and (max-width: 480px) {
    .tarjetas-usuarios {
        padding-top: 2.8rem;
    }
  }

/* Reponsive tablet */
@media only screen and (max-width: 768px) {
  
  }
