<div class="container-100">
  <div class="row">
    <div class="col">
      <app-navbar class="navbar-full-width"></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="content-home col-md-10">
      <form class="d-flex mt-2">
        <input class="form-control rounded-start rounded-end-0" type="text" [(ngModel)]="inputText" name="searchInput"
          placeholder="Buscar" aria-label="Search">
        <select id="opciones" class="select-art" name="opciones" [(ngModel)]="selectedOption"
          (change)="onOptionChange($event)">
          <option value="Articulos">Articulos</option>
          <option value="Usuarios">Usuarios</option>
        </select>
        <button (click)="fetchData()"
          class="btn-search btn btn-outline-success border border-0 rounded-start rounded-start-0" type="submit">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-search fw-bold" viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
        </button>
      </form>
      <div class="row filas-home">
        <h1 class="titulo">Usuarios destacados</h1>
        <div class="d-flex flex-row flex-wrap">
          @for (usuario of misUsuarios.slice(0, 6); track usuario) {
          <div class="col custom-col">
            <app-tarjeta-usuario [miUsuario]="usuario"></app-tarjeta-usuario>
          </div>
          }
        </div>
      </div>
      <div class="row filas-home">
        <h1 class="titulo">Artículos</h1>
        <div class="d-flex flex-column flex-wrap gap-2">
          @for (articulo of paginatedArticulos; track articulo) {
          <div class="col">
            <app-articulo [articulos]="articulo"></app-articulo>
          </div>
          }
        </div>
        <app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [pages]="pages"
          (pageChange)="onPageChange($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</div>