<div class="container-100">
    <div class="row">
        <div class="col">
            <app-navbar class="navbar-full-width"></app-navbar>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="content-home col-md-10">
            <div class="row">
                <h1 class="titulo">Usuarios destacados</h1>
                <div class="d-flex flex-row flex-wrap"> 
                    @for (usuario of misUsuarios.slice(0,6); track usuario) {
                        <div class="col custom-col">
                            <app-tarjeta-usuario [miUsuario]="usuario"></app-tarjeta-usuario>
                        </div>
                     }
                </div>
            </div>
            <div class="row">
                <h1 class="titulo">Artículos</h1>
                <div class="d-flex flex-column  flex-wrap gap-2"> 
                    @for (articulo of articulos.slice(1,5); track articulo) {
                        <div class="col custom-col">
                            <app-articulo [articulos]="articulo"></app-articulo>
                        </div>
                     }
                </div>
            </div>
        </div>
    </div>
</div>
