.contenedor-cartas {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten a la siguiente fila si no caben en una sola */
    gap: 4rem;
    justify-content: center; /* Centra las tarjetas dentro del contenedor */
    padding: 20px;
}
.titulo {
    margin: 3%;
    font-family: var(--tituloPpal);
    text-align: center;
}

.contactos {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 2%;
    margin-left: 2%;
}

app-card-contacto {
    /* height: 70px; */
    box-sizing: border-box;
    flex: none;
}