<div class="container-100">
  <div class="row">
    <div class="col">
      <app-navbar class="navbar-full-width"></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="content-articulo-id col-md-10 cambio">
      <div class="contenido">
        <div
          class="default-button-reverse contenedor-boton"
          href="javascript:void(0);"
          onclick="window.history.back();"
        >
          <a>
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="30"
              height="30"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 12h14M5 12l4-4m-4 4 4 4"
              />
            </svg>
          </a>
        </div>
        <div class="arriba">
          <div class="titulo">{{ articuloPorId.titulo }}</div>
          <app-valoracion-estrellas
            [puntuacion]="puntuacion"
            (starClicked)="onStarClicked($event)"
          ></app-valoracion-estrellas>
        </div>
        <div class="autor">
          <p>
            {{ articuloPorId.usuario.nombre }}
            {{ articuloPorId.usuario.apellido }}
          </p>
          <p>{{ fechaPublicacionFormateada }}</p>
        </div>
        <div class="descripcion">{{ articuloPorId.descripcion }}</div>
        <div class="contenido">
          <div [innerHTML]="sanitizedContent"></div>
        </div>
      </div>
    </div>
  </div>
</div>
