<div class="container-100">
    <div class="row">
        <div class="col">
            <app-navbar class="navbar-full-width"></app-navbar>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="content-articulo-id col-md-10">
            <div class="row">
                <h1 class="titulo">{{articuloPorId.titulo}}</h1>
                <div class="d-flex flex-column flex-wrap"> 
                    <p>{{articuloPorId.usuario.nombre}} {{articuloPorId.usuario.apellido}}</p>
                    <p>{{articuloPorId.fechaPublicacion}}</p>
                    <p>{{articuloPorId.contenido}}</p>
                </div>
                <div class="btn-back">
                    <button type="button" class="default-button" [routerLink]="['/home']">Atrás</button>
                </div>
            </div>
        </div>
    </div>
</div>
