<div class="container-100">
  <div class="row">
    <div class="col">
      <app-navbar class="navbar-full-width"></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="content-home col-md-10">
      <div class="row filas-home">
        <h1 class="titulo">Mis Artículos</h1>
        <div class="d-flex flex-column flex-wrap gap-2">
          @for (articulo of paginatedArticulos; track articulo) {
          <div class="col">
            <app-articulo [articulos]="articulo"></app-articulo>
          </div>
          }
        </div>
        <app-pagination
          [currentPage]="currentPage"
          [totalPages]="totalPages"
          [pages]="pages"
          (pageChange)="onPageChange($event)"
        >
        </app-pagination>
      </div>
    </div>
  </div>
</div>
