<div class="row">
    <div class="col-12">
      <div class="container mt-3">
        <div class="p-3 perfil">
          <h2>Información personal</h2>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Puesto</th>
                <td>Web Developer</td>
              </tr>
              <tr>
                <th scope="row">Email</th>
                <td>Juangmail.com</td>
              </tr>
              <tr>
                <th scope="row">Github</th>
                <td>https://github.com/Sergiolopez</td>
              </tr>
              <tr>
                  <th scope="row">Lenguajes</th>
                  <td>Angular, Spring, SAP</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>