/* Estilos para el diálogo centrado */

.title {
  text-align: center;
  font-family: var(--tituloPpal);
}

.mat-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6); /* fondo semitransparente */
  z-index: 999999999;
}

.mat-dialog-container {
  z-index: 999999999;
}

.mat-dialog-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 20px;
  justify-content: center;
  flex-direction: column;
}

.mat-container {
  border: 3px solid var(--ppal);
  border-radius: 5px;
  padding: 2%;
  width: 30%;
  background-color: rgb(255, 255, 255);
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.custom-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.custom-dialog-content {
  max-width: 600px; /* Ancho máximo del contenido del diálogo */
  width: 100%;
}

.default-button:hover {
  background-color: rgb(223, 0, 0);
}

.default-button-reverse:hover {
  border-color: var(--ppal_2);
  background-color: var(--ppal_2);
}

.dialog-container {
  text-align: center;
}
