<div class="d-flex gap-3">
  <div class="user-card">
    <div class="purple-part">
      <div class="photo">
        <img src="../../../../assets/img/usr-icono.png" alt="User" />
      </div>
    </div>
    <div class="card-back">
      <ul class="card-info">
      @for (skill of miUsuario.skills; track skill) {
        <li>{{skill.nombre}}</li>
      }
    </ul>
      <button class="card-btn">Perfil</button>
    </div>
    <div class="info">
      <h2>{{ miUsuario.nombre }}<br>{{miUsuario.apellido}}</h2>
      <hr class="separacion" />
      <p>{{miUsuario.puestoEmpresa}}</p>
    </div>
  </div>
</div>