* {
  font-family: var(--texto);
  margin: 0;
  padding: 0;
}

p {
  margin: 1%;
  padding: 1%;
  font-size: 120%;
}

h2 {
  margin-left: 2%;
}

.contenedor {
  background-color: var(--secn);
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos envuelvan */
  align-items: center;
  margin: 20px;
  border-radius: 10px;
}

.perfil {
  margin: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

.perfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.info-usuario {
  margin: 2%;
  flex-grow: 1; /* Para que ocupe todo el espacio restante */
  flex-basis: 300px; /* Espacio mínimo para la info del usuario */
}

.acciones-usuario {
  display: flex;
  flex-wrap: wrap; /* Permitir que los botones envuelvan si es necesario */
  margin-right: 2%;
}

.follow {
  display: flex;
}

.btn-editar {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: var(--ppal);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.btn-editar:hover {
  background-color: var(--ppal_2);
}

.seguidores-siguiendo {
  text-decoration: none;
  color: #000000;
}

.seguidores-siguiendo:hover {
  text-decoration: underline;
}

/* Puntos de quiebre para mejorar la capacidad de respuesta */
@media only screen and (max-width: 1100px) {
  .perfil {
    width: 100%;
    justify-content: center; /* Centrar en pantallas más pequeñas */
  }
  
  .info-usuario {
    width: 100%;
    text-align: center; /* Centrar el texto en pantallas más pequeñas */
  }
  
  .acciones-usuario {
    width: 100%;
    justify-content: center; /* Centrar los botones en pantallas más pequeñas */
    margin: 0; /* Quitar el margen derecho */
  }
}

@media only screen and (max-width: 768px) {
  .perfil {
    flex-direction: column; /* Apilar elementos en columnas en pantallas pequeñas */
  }
  
  .info-usuario {
    margin: 10px 0; /* Ajustar el margen */
  }
}

@media only screen and (max-width: 426px) {
  .perfil img {
    width: 150px; /* Reducir el tamaño de la imagen en pantallas más pequeñas */
    height: 150px;
  }

  .follow {
    flex-direction: column; /* Colocar seguidores y siguiendo en columnas */
    align-items: center; /* Centrar texto */
  }

  .btn-editar {
    bottom: 5px;
    right: 5px;
    padding: 8px;
  }
}
